.header{
    background-color: #232333;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.h{
    margin: 0px 10px 0px 15px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

.zoom{
    text-decoration: none;
    margin: 0px 10px 0px 24px;
}

.m1{
    font-weight: bold;
    color: #0e71eb;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 22px 9px;
    text-decoration: none;
}

.m2{
    font-weight: bold;
    color: #777777;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 22px 9px;
    text-decoration: none;
}

.m3{
    font-weight: bold;
    background-color: #f26d21;
    color: #FFFFFF;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 16px;
    margin: 25px 10px 25px 15px;
    border: #f26d21;
    border-radius: 10px;
}

.uno{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.left{
    background-image: url(https://st2.zoom.us/static/6.2.7712/image/user/arrow.png);
    background-size: 569px;
    background-position: center 170px
}

.left1{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: #595959;
}

.left2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #595959;
    margin: 20px 0px 211px;
}

.left3{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #595959;
    margin: 20px 0px 211px;
}


