.header{
    background-color: #232333;
    color: #FFFFFF;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.h{
    margin: 0px 10px 0px 15px;
}

#idzoom{
    width: 10px;
}

.m1{
    color: #0e71eb;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 22px 9px;
}

.m2{
    color: #777777;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 22px 9px;
}

.m3{
    background-color: #f26d21;
    color: #FFFFFF;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 16px;
    border: #f26d21;
    margin: -2px 10px 0px 15px;
}

.m4{
    padding: 15px 64px;
}

.m{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}